[submodule "native-library/deps/anjay"]
	path = native-library/deps/anjay
	url = https://github.com/AVSystem/Anjay.git
[submodule "native-library/deps/jni.hpp"]
	path = native-library/deps/jni.hpp
	url = https://github.com/mapbox/jni.hpp.git
[submodule "native-library/deps/mbedtls"]
	path = native-library/deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls
